<div class="search-wrapper">
    <input type="search" class="input" #searchInput (search)="search(searchInput.value)" ng-model="searchString" placeholder="Enter a city">
</div>

<div class="weather-wrapper">
    <ng-container *ngTemplateOutlet="currentWeather ? weather : loading"></ng-container>
</div>

<ng-template #loading>
    <span>Fetching Data...</span>
</ng-template>

<ng-template #weather>
    <span class="city">{{city | titlecase}}</span>
        <div class="weather-icon" *ngIf="weatherIconURL">
            <img src="{{weatherIconURL}}"/>
        </div>
        <span class="temp">{{currentWeather.main.temp | degree}}</span>
</ng-template>

<agm-map
  height="500px"
  width="100%"
  [longitude]="long"
  [latitude]="lat"
></agm-map>